<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create New Vehicle</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<form th:action="@{processVehicleForm}" th:object="${vehicle}" method="post">
    <label for="make"></label><select id="make" th:field="*{make}">
        <option value="">Select a model</option>
        <option th:each="temp: ${makes}" th:value="${temp}" th:text="${temp}"></option>
    </select><br>

    <label for="model"></label><select id="model" th:field="*{model}">
        <option value="">Select a model</option>
    </select><br>
    <label for="year"></label><select id="year" th:field="*{year}">
        <option value="">Select a year</option>
    </select><br>
    <label for="engine"></label><select id="engine" th:field="*{engineName}">
        <option value="">Select an engine</option>
    </select><br>
    <input type="hidden" id="internRestId" th:field="*{internRestId}">
    <input type="submit" value="Submit">
</form>

<script>



    $(document).ready(function() {


        $('#make').change(function() {
            let selectedMake = $(this).val();
            $.ajax({
                url: '/vehicle/models',
                type: 'GET',
                data: {
                    make: selectedMake
                },
                success: function(response) {
                    let modelSelect = $('#model');
                    modelSelect.empty().append('<option value="">Select a model</option>');
                    $.each(response, function(index, model) {
                        modelSelect.append('<option value="' + model + '">' + model + '</option>');
                    });
                }
            });
        });


        $('#model').change(function() {
            let selectedMake = $('#make').val();
            let selectedModel = $(this).val();
            $.ajax({
                url: '/vehicle/years',
                type: 'GET',
                data:{
                    make: selectedMake,
                    model: selectedModel
                },
                success: function(response) {
                    let yearSelect = $('#year');
                    yearSelect.empty().append('<option value="">Select a year</option>');
                    $.each(response, function(index, year) {
                        yearSelect.append('<option value="' + year + '">' + year + '</option>');
                    });
                }
            });
        });

        $('#year').change(function() {
            let selectedMake = $('#make').val();
            let selectedModel = $('#model').val();
            let selectedYear = $(this).val();

            $.ajax({
                url: '/vehicle/engines',
                type: 'GET',
                data:{
                    make: selectedMake,
                    model: selectedModel,
                    year: selectedYear
                },
                success: function(response) {
                    let engineSelect = $('#engine');
                    engineSelect.empty().append('<option value="">Select a engine</option>');
                    $.each(response, function (index, engine) {
                        engineSelect.append('<option value="' + engine + '">' + engine + '</option>');
                    });
                }

            });
        });

        $('#engine').change(function() {
            let selectedMake = $('#make').val();
            let selectedModel = $('#model').val();
            let selectedYear = $('#year').val();
            let selectedEngine = $(this).val();

            $.ajax({
                url: '/vehicle/internRestId',
                type: 'GET',
                data:{
                    make: selectedMake,
                    model: selectedModel,
                    year: selectedYear,
                    engine: selectedEngine
                },
                success: function(response) {
                    let engineSelect = $('#internRestId');
                    engineSelect.empty().val(response);
                }

            });
        });
    });
</script>
</body>
</html>