<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{../}">Vehicle Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <form name="logoutForm" th:action="@{/logout}" method="post">
                        <input hidden type="submit" value="Sign Out"/>
                        <button class="btn btn-primary">Sign Out</button>
                    </form>

                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="update-info">
        <p>If it's your first time of running application you need to import vehicle data to application!</p>
        <p>This operation needs 20-30 minutes to import all of the data and save them, make a good tea and enjoy of waiting!</p>
        <p>After all of this process you will get an information about a success.</p>

        <p>You can also use this button to update a base of vehicles, process looks simple like fetching them first time</p>
        <p>All of the progress of this you can track in application console</p>
        <p>Click "Update vehicle data" to start process. Don't do anything when process is running</p>
    </div>
    <form  th:action="@{/vehicleData/fetch}" method="post">
        <button type="submit">Update vehicle data</button>
    </form>
    <a href="/vehicle/showUserVehicles" class="btn btn-secondary">Show list of your vehicles</a>
    <form action="#" th:action="@{/logout}" method="post" style="display: inline;">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
    <br><br>
    <a class="btn btn-primary" href="vehicle/main-vehicle.html">Main Vehicle Menu</a>
</div>
</body>
</html>
